.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  max-width: 300px;
  transition: 0.2s;
  padding: 10px 10px 100px 10px;
  border-right: #888 solid 1px;
}

.sidebar-head {
  display:flex;
  flex-direction: row;
}

.sidebar h3 {
  color: black;
  font-weight: bold;
  padding: 10px 40px 5px 10px;
  transition: 0.2s;
}

.sidebar input {
  background-color: #f4f4f4;
  margin: 7px 7px 7px 20px;
  font-size: 14px;
  border: none;
  transition: 0.2s;
  opacity: 0.7;
}

.sidebar input:focus {
  background-color: rgb(202, 238, 238);
  opacity: 1;
}

.library-selector {
  margin: 10px 0;
  padding: 2px 2px 2px 2px;
  background-color: #fbfbfb;
  border: #131822 1px solid;
  transition: 0.2s;
}