.link {
  color: black;
  background-color: #f4f4f4;
  border: none;
  text-decoration: none;
  padding: 10px 50px 10px 20px;
  transition: 0.2s;
  text-align: left;
}

.link:hover {
  background-color: #131822;
  color: white;
  text-decoration: none;
  transition: 0.2s;
  border-radius: 2px;
}

.link:focus {
    outline:none;
}
